<!DOCTYPE html>
<html lang='en-GB'>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuppa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src=<%= "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:maps, :api_key)}&libraries=places"%>></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Spicy+Rice&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="navigation">
      <nav class="navigation navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
          <a href="/" class="navbar-brand d-flex">
            <%= image_tag("cuppa-light.png", :class => "navigation__logo") %>
            <h1 class='ml-3 text-light'>cuppa</h1>
          </a>
          <div>
            <% if user_signed_in? %>
              <%= link_to('Profile', edit_user_registration_path, class: 'btn btn-link text-light') %>
              <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'btn btn-link text-light') %>
            <% else %>
              <%= link_to('Log in', new_user_session_path, class: 'btn btn-primary') %>
            <% end %>
          </div>
      </nav>
    </div>
    <% if notice %>
    <%= react_component("shared/Toast", {message: notice}) %>
    <% end %>
    <% if alert %>
    <%= react_component("shared/Toast", {message: alert}) %>
    <% end %>
    <div class="main-container pt-3">
      <main class="container">
        <%= yield %>
      </main>
      <footer class="container-fluid mt-3 py-5 bg-light">
        <small class="d-block text-center">Made with love for our own communities.</small>
        <small class="d-block text-center">Part of the <a class="text-primary" href="https://covid-global-hackathon.devpost.com/">COVID19 Global Online Hackathon</a>.</small>
      </footer>
    </div>
  </body>

</html>